/* 태그초기화 */
body{margin:0px; font-family:"맑은 고딕", Dotum, Arial, Sans-serif; font-size: small; color:#333;}
h1, p {margin:0px;}
h1{font-size:inherit; }
caption{font-size:0px; line-height:0px; width:0px; height:0px; overflow:hidden;}
/* 공통 모듈 */
