.header{height: 50px; background-color: #FFFFB6}
.login {float:right; padding: 5px; margin-right:5px; background-color: #86E57F; width: 350px;}
.main_title{float:left; padding:15px; margin-left:20px; font-weight:bold; font-size:15px; background-color: #E8D9FF;}
.id_save {vertical-align: text-top; font-size: 8px;}